.nav ul li {
  background-color: rgb(21, 201, 224);
  width: 65px;
  height: 40px;
  border-radius: 15px;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

h1 {
  background-color: rgb(21, 201, 224);
  display: block;
  width: 50%;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  margin-right: 10%;
  margin-left: 10%;
  color: white;

  /* text-align: center; */
  font-size: 50px;
  font-weight: bold;
}
.head {
  background-color: rgb(21, 201, 224);
  border-radius: 15px;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: flex-start;
}

h2 {
  background-color: rgb(21, 201, 224);
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-radius: 15px;
}
h3 {
  background-color: rgb(21, 201, 224);
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  border-radius: 15px;
}
.nav ul li:hover {
  background-color: rgb(195, 0, 255);
  transition: 0.5s;
}

h2:hover {
  background-color: rgb(195, 0, 255);
  transition: 0.5s;
}
h3:hover {
  background-color: rgb(195, 0, 255);
  transition: 0.5s;
}
.nav ul li a {
  color: rgb(248, 245, 245);
  font-size: 25px;
  font-weight: bold;
}

div h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

#headshot {
  max-width: 200px;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  -webkit-box-shadow: 15px 8px 5px 0px rgba(13, 178, 219);
  -moz-box-shadow: 15px 8px 5px 0px rgb(13, 178, 219);
  box-shadow: 15px 8px 5px 0px rgba(13, 178, 219);
}

#project1:hover {
  transform: scale(2.3);
}

#project2a {
  max-width: 280 px;
  max-height: auto;
}
#project2:hover {
  transform: scale(2.3);
}

#project3:hover {
  transform: scale(2.3);
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: auto;
}
.container {
  background-color: rgba(136, 216, 226, 0.24);
  margin: auto;
  max-width: 100%;
}

#logo {
  padding: 5px;
  max-height: 75px;
  max-width: auto;
}
p {
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
#ab {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.nav ul li {
  list-style-type: none;
  display: inline;
}

.nav {
  display: flex;

  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: rgb(21, 201, 224);
}

.aboutPage {
  display: grid;
  display: flex;
  max-width: 600px;
  grid-template-rows: 20% 40%;
  flex-direction: column;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#project1 {
  max-width: 250px;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.project {
  margin: 20%;
  max-height: auto;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  background-color: rgba(0, 140, 255, 0.192);
  border-radius: 5%;
}
#project2 {
  max-width: 250px;
  max-height: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#project3 {
  max-width: 250px;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#project3a {
  max-width: 280 px;
  max-height: auto;
  border-radius: 15px;
}

.topMain {
  text-align: center;
}
.projectContent {
  display: none;
}
.projectContenta {
  display: none;
}
.projectContentb {
  display: none;
}

.show {
  display: block;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(0, 174, 255, 0.459);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.pet {
  max-width: 80%;
  display: block;
  margin: auto;
}
.amok {
  max-width: 80%;
  display: block;
  margin: auto;
}

.skates {
  max-width: 80%;
  display: block;
  margin: auto;
}
.showMore {
  max-width: 30%;
  margin: auto;
  background-color: rgb(21, 201, 224);
}
.showMorea {
  max-width: 30%;
  margin: auto;
  background-color: rgb(21, 201, 224);
}
.showMoreb {
  max-width: 30%;
  margin: auto;
  background-color: rgb(21, 201, 224);
}
.showSlide {
  display: none;
}
.showSlide img {
  width: 100%;
}
.slidercontainer {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.left,
.right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  margin-right: 10%;
}
.right {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.left:hover,
.right:hover {
  background-color: rgba(8, 18, 126, 0.8);
}
/* .content {  
  color: #eff5d4;  
  font-size: 30px;  
  padding: 8px 12px;  
  position: absolute;  
  top: 10px;  
  width: 100%;  
  text-align: center;  
}   */
/* .active {
  background-color: #717171;
} */
